@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        CAPENEXIS DATA SOLUTIONS
    </h1>
    <img src="capenexis.jpg" alt="Pictures" width="400" height="500">
    <p1>CapeNexis Data Solutions was established in Cape Town South Africa in 2007. In 2011 the founders decided to locate the business in Makotopong, a village 17 kilometres outside Polokwane. The purpose was to bridge the gap between rural and urban in terms of access to the development of Information Technology to ensure that rural communities are not marginalised in the Fourth Industrial Revolution.</p1>

    <button type="button">About us<a href=""></a>.</button>
</div>
